@{
    ViewBag.Title = "Contact";
}

@section body
{
    <h2>@ViewBag.Title.</h2>

    <address>
        Tikotski street 10-65<br />
        Post index: 220 119<br />
        Phone: +375 29 314 80 09
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:pashkovski.sergey.m@gmail.com">pashkovski.sergey.m@gmail.com</a>
    </address>
}