@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Galaxy Forum</h1>
    <br />
    <br />
    <p class="lead">Galaxy Forum is a free web forum for communication and solving your problens using user frendly interface.</p>
</div>
