@model IEnumerable<ForumPlMvc.Models.SectionModel>

@{
    ViewBag.Title = "Sections";
}

<h2>Sections</h2>

<div class="col-md-8">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <td>
                <b>Actions</b>
            </td>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "TopicsInSection", new { id = item.Id, page = 1 })
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>