<div class="account-menu">
    <div>@Html.ActionLink("My Info", "UserInfo", "User")</div>
    <div>@Html.ActionLink("My Topics", "Topics", "User")</div>
    <div><a href="personal_info.html">My topics</a></div>
    <div><a href="personal_info.html">My smt</a></div>
    <div>@Html.ActionLink("Setting", "Setting", "User")</div>
</div>
