@model String

<div style="text-align:center;">
    @{ var ajaxOption = new AjaxOptions
        {
            UpdateTargetId = "ajax-result",
            LoadingElementId = "loading",
            OnComplete = "onAjaxComplete"
        };
     }
    <ul class="pagination">
        @if (ViewBag.Page == 1)
        {
            <li class="disabled">
                <span>«</span>
            </li>
        }
        else
        {
            <li>
                @Ajax.ActionLink("«", Model, new { page = ViewBag.Page - 1, id = ViewBag.AjaxId }, ajaxOption)
            </li>
        }

        @for (int i = 1; i <= ViewBag.PageCount; i++)
        {
            if (i == ViewBag.Page)
            {
                <li class="active">
                    <span>@i</span>
                </li>
            }
            else
            {
                <li>
                    @Ajax.ActionLink(i.ToString(), Model, new { page = i, id = ViewBag.AjaxId }, ajaxOption)
                </li>
            }
        }

        @if (ViewBag.Page == ViewBag.PageCount)
        {
            <li class="disabled">
                <span>»</span>
            </li>
        }
        else
        {
            <li>
                @Ajax.ActionLink("»", Model, new { page = ViewBag.Page + 1, id = ViewBag.AjaxId }, ajaxOption)
            </li>
        }
    </ul>
</div>
